<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blizzard.war">

    <!-- 适应屏幕 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 用户权限设置 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 调用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:name=".app.BiliApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 登录界面 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <!-- 注册界面 -->
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <!-- 浏览器界面 -->
        <activity
            android:name=".mvp.ui.activity.BrowserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 游戏中心 -->
        <activity
            android:name=".mvp.ui.activity.GameCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 音乐中心 -->
        <activity
            android:name=".mvp.ui.activity.AudioPlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 视频播放 -->
        <activity
            android:name=".mvp.ui.activity.VideoPlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--android:configChanges="screenLayout|orientation"-->
        <!--android:supportsPictureInPicture="true"-->

        <activity
            android:name=".mvp.ui.activity.RemindActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".service.RemindService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="repeatAlarm" />
            </intent-filter>
        </receiver>
    </application>

</manifest>