<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blizzard.war">

    <!-- 适应屏幕 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 用户权限设置 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 调用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.BiliApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:theme="@style/ColorTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".mvp.ui.activity.MainActivityRx"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 登录界面 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivityRx"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <!-- 注册界面 -->
        <activity
            android:name=".mvp.ui.activity.RegisterActivityRx"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <!-- 浏览器界面 -->
        <activity
            android:name=".mvp.model.common.BrowserActivityRx"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 游戏中心 -->
        <activity
            android:name=".mvp.model.game.GameCenterActivityRx"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 音乐中心 -->
        <activity
            android:name=".mvp.model.music.MediaPlayRx"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>

</manifest>